h1,
h2,
.text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  margin-left: 300px;
  margin-right: 400px;
}

h1 {
  font-weight: 600;
}

.text {
  font-size: 17px;
  font-weight: 300;
}

#homepage-title {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: 500;
}

img {
  display: block;
  margin-left: 300px;
  }

.recipe-link {
  height: 300px;
  width: 235px;
  display: inline-block;
  margin-left: 40px;
}

.homepage-video {
  position: absolute;
  width: 30%;
  height: auto;
  top: 255px;
  right: 50px;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; 
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}